<ul class="flat-nav">
  <li id="wiki-nav">
    <a id="wiki-ref" href="https://metalab.at/wiki">Wiki</a>
  </li>
  <li id="about-nav">
    <a id="about-ref" href="https://metalab.at/wiki/Info_Folder">About</a>
  </li>
  <li id="location-nav">
    <a id="location-ref" href="https://metalab.at/wiki/Lage">Location</a>
  </li>
  <li id="door-state-nav">
    <a id="door-state-ref" href="http://eingang.metalab.at">🚪-Status</a>
  </li>
  <li id="sponsors-nav">
    <a id="sponsors-ref" href="https://metalab.at/wiki/Sponsoren">Sponsoren</a>
  </li>
  <li id="impressum-nav">
    <a id="impressum-ref" href="https://metalab.at/wiki/Impressum">Impressum</a>
  </li>
  <li id="english-nav">
    <a id="english-ref" href="https://metalab.at/wiki/English">English</a>
  </li>
</ul>
