<h1>
  <a href="https://metalab.at/member">Mitglieder</a>
</h1>
<ul class="member-pictures">
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/mitglied_werden">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/mitglied_werden">
      Mitglied werden
    </a>
  </li>
</ul>
<div id="introduction-container" class="widget">
  <%= render MosWeb.TextblockView, "frontpage_container.html", assigns %>
</div>
