<ul>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
  <li class="member-picture">
    <a href="https://metalab.at/wiki/Benutzer:tkolar">
      <img src="https://metalab.at/media/userpics/tkolar.png" />
    </a>
  </li>
</ul>
