#page-header {
}

.nav-row {
    display: flex;
    flex-direction: row;
}

.flex-filler {
    flex-grow: 0.9;
}

.nav-row nav {
}

.flat-nav {
    display: inline;
}

.flat-nav li {
    display: inline;
    margin: 0 3px 6px;
    height: 100%;
    padding: 0.5em 0.7em;
    background-color: #4F5C7F;
    color: white;
    font: 76% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.flat-nav a {
    color: white;
    text-decoration: none;
}

.flat-nav a:visited {
    color: white;
    text-decoration: none;
}

.member-picture {
    display: inline;
    padding: 3px;
}

.member-picture img {
    height: 54px;
    width: 54px;
}

.member-picture a {
    color: #5D5EA2
}
