#page-nav {
  height: 50px;
}

#user-menu {
  display: inline-block;
}

#user-menu li {
  display: inline-block;
}

#wiki-navbar {
  display: inline-block;
}

#wiki-navbar li {
  display: inline-block;
  margin: 0 3px 6px;
  padding: 7px;
  background-color: #4F5C7F;
  color: white;
}

#wiki-navbar a {
  color: white;
  background-color: #4F5C7F;
}

#wiki-navbar a:visited {
  color: white;
  background-color: #4F5C7F;
  text-decoration: none;
}

body {
  margin: 1px 1em 1em 4em;;
  font: 76% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* footer cs s*/
#page-footer {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid #ddd;
}

#page-footer ul li {
  display: inline;
}

#page-footer ul li:after {
  content: " | ";
}

#page-footer ul li:last-child:after {
  content: "";
}

.nav-row {
  display: flex;
  flex-direction: row;
}
.flex-filler {
  flex-grow: 0.9;
}

/* member picture container */

.member-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 1px;
  padding: 2px;
  border: 1px solid #ddd;
  height: 58px;
  width: 58px;
}

.member-picture:hover {
  color: #fff;
  background-color: #8c9ce9;
}

.member-picture:hover a {
  color: #fff;
  background-color: #8c9ce9;
}

.member-pictures {
  margin: 0;
  padding: 0;
  height: 65px;
  width: 530px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.member-picture img {
  height: 54px;
  width: 54px;
  padding: 0;
}

a {
  color: #5D5EA2;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #8c9ce9;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* calendar component */

#calendar-container {
  width: 27em;
}

#calendar-events {
  border: 1px solid #ddd;
  margin: 1px;
  padding: 0px;
}

.calendar.event {
  background-color: #C8D8FF;
  margin-bottom: 2px;
  padding: 0.5em;
}

.event.location {
  display: block;
}

.event.date {
  font-weight: bold;
}

#announcements-container {
  width: 40em;
  margin-left: 3em;
}

/* announcementes */
.alert.announcements {
  border-left: 4px solid red;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
}

.announcement {
  border-bottom: 1px solid gray;
}

/* last changes*/
.change .label {
  display: block;
}

/* projects */

.project .teaser {
  margin-top: 0.3em;
}

#page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}

#member-pictures-container {
  width: 530px;
  margin-left: 3em;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}

#announcements-container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}

#projects-container {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#last-changes-container {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

h1 {
  font-weight: normal;
}

/* login forms */
form input {
  display: block;
}

/* page notificatios */
.alert.alert-success {
  background-color: #38ad69;
  display: flex;
  height: 3em;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.alert.alert-info {
  background-color: #429ed7;
  display: flex;
  height: 3em;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.alert.alert-warning {
  color:#564101;
  background:#fdcf44
  display: flex;
  height: 3em;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.alert.alert-danger {
  background:#e23912;
  display: flex;
  height: 3em;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
