<footer id="page-footer">
  <ul>
    <li>Powered by <a href="https://github.com/Phantasus/exmos">exmOS</a></li>
    <li><a href="https://metalab.at/wiki/Datenschutzerkl%C3%A4rung">Datenschutzerklärung</a></li>
    <li><a href="https://metalab.at/issues/">Issue Tracker</a></li>
  </ul>
</footer>
