<main class="container">
  <% if info_message = live_flash(@flash, :info) do %>
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
     phx-value-key="info"><%= info_message %></p>
  <% end %>

  <%= if error_message = live_flash(@flash, :error) do %>
  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
     phx-value-key="error"><%= error_message %></p>
  <% end %>

  <%= @inner_content %>
</main>
